.iti__flag {
    background-image: url("/App_Plugins/ActiveIS.UmbracoForms.Intl-Tel-Input/Images/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("/App_Plugins/ActiveIS.UmbracoForms.Intl-Tel-Input/Images/flags@2x.png");
    }
}