<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8004fba4-8db5-49ff-b037-25de608b08dd" Alias="contentPage" Level="1">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="52564924-165a-419c-8cda-10e70f1600c5">contentBase</Composition>
      <Composition Key="9ded4cfc-7aae-4c8c-a02a-be70172e92d7">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>contentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7f738fa1-8554-442a-8dcb-d61bf5fee092">contentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8004fba4-8db5-49ff-b037-25de608b08dd" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>