<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d43d6202-e88f-4d9f-a406-a94ae01a4742" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
    <DefaultTemplate>home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="12d28412-ffc4-4939-a51b-c8a96fd1743d">home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="005e4546-f70b-4cc1-be02-7ad57a9fb065" SortOrder="0">blog</ContentType>
    <ContentType Key="80014ef2-512b-4200-aa36-dae0110fef28" SortOrder="1">contact</ContentType>
    <ContentType Key="8004fba4-8db5-49ff-b037-25de608b08dd" SortOrder="2">contentPage</ContentType>
    <ContentType Key="3037fd30-9141-4f6d-86c5-c20a5bac33c8" SortOrder="3">people</ContentType>
    <ContentType Key="58476b94-f616-43d3-8c77-68323ab9963f" SortOrder="4">products</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>f2811c8c-e843-4a09-afd6-be02828977fa</Key>
      <Name>Content</Name>
      <Alias>bodyText</Alias>
      <Definition>34a7f8f5-a84e-439b-9322-466ff7ed8866</Definition>
      <Type>Umbraco.Grid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7dacb6c9-6883-40da-9990-87e3fe5d162f</Key>
      <Name>Color Theme</Name>
      <Alias>colorTheme</Alias>
      <Definition>71548df5-836c-41f8-96ac-5b98fe5e2e19</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>eb485003-4b0e-4f10-831a-92811c676a45</Key>
      <Name>Font</Name>
      <Alias>font</Alias>
      <Definition>fff3c360-3f90-45b3-a554-e29ca72cdce4</Definition>
      <Type>Umbraco.RadioButtonList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>71709c11-9370-4609-8ed2-5203a152cc2f</Key>
      <Name>Address</Name>
      <Alias>footerAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>366d1cec-1f49-4e39-b71b-7e2d29a94c6e</Key>
      <Name>Call To Action Caption</Name>
      <Alias>footerCTACaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Caption on the Call To Action Button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d7f66a58-7c39-4b3d-b584-fa09a5c6bf86</Key>
      <Name>Call To Action Link</Name>
      <Alias>FooterCtalink</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e4302acf-be29-4104-8956-8b08189183fb</Key>
      <Name>Description</Name>
      <Alias>footerDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>aa0058f0-a294-4eb2-88cb-0cabd287f47d</Key>
      <Name>Header</Name>
      <Alias>footerHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>978135ed-52dc-498e-b562-d268b596adc6</Key>
      <Name>Hero Background</Name>
      <Alias>HeroBackgroundImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Spice up the homepage by adding a beautiful photo that relates to your business]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ebe0ca88-fde0-4a94-bc10-b5ddc1ee1444</Key>
      <Name>Call To Action Caption</Name>
      <Alias>heroCTACaption</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The caption on the button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>18ad79b9-e754-42de-8792-14d7a61da27c</Key>
      <Name>Call To Action Link</Name>
      <Alias>HeroCtalink</Alias>
      <Definition>3ece86aa-61ad-45d5-b1dd-8f02f25df949</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>323394ab-f354-4449-8ac0-c7ad82686d04</Key>
      <Name>Description</Name>
      <Alias>heroDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f24091d3-4b60-4860-9acb-75bf70688cc8</Key>
      <Name>Header</Name>
      <Alias>heroHeader</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is the main headline for the hero area on the Homepage]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Hero</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d418287b-1d2a-411f-941d-71dc6455c252</Key>
      <Name>Logo</Name>
      <Alias>SiteLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Optional. If you add a logo it'll be used in the upper left corner instead of the site name. Make sure to use a transparent logo for best results]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4f035c82-6aa4-4557-835f-3abcef0e7c73</Key>
      <Name>Sitename</Name>
      <Alias>sitename</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used on the homepage as well as the title and social cards]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Design</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Hero</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Design</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
</ContentType>