<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3037fd30-9141-4f6d-86c5-c20a5bac33c8" Alias="people" Level="1">
  <Info>
    <Name>People</Name>
    <Icon>icon-user-females-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="52564924-165a-419c-8cda-10e70f1600c5">contentBase</Composition>
      <Composition Key="9ded4cfc-7aae-4c8c-a02a-be70172e92d7">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>people</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f0f69a58-3e3b-4bb6-b955-dd5e0fe005c0">people</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="dfd1191a-569a-4450-a685-e383e73b9595" SortOrder="0">person</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ca687ac0-9f29-4539-b5d4-be75f473f6af</Key>
      <Name>Featured People</Name>
      <Alias>featuredPeople</Alias>
      <Definition>4885450e-a60f-42bb-984a-43988baf5283</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>