<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="58476b94-f616-43d3-8c77-68323ab9963f" Alias="products" Level="1">
  <Info>
    <Name>Products</Name>
    <Icon>icon-shopping-basket color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions>
      <Composition Key="52564924-165a-419c-8cda-10e70f1600c5">contentBase</Composition>
      <Composition Key="9ded4cfc-7aae-4c8c-a02a-be70172e92d7">navigationBase</Composition>
    </Compositions>
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a18ecf14-77c6-4ca2-925a-e9fd91f28f08">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="1960e8e0-602e-49cc-95c2-cfdeb9643793" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ce44704e-42a3-4a07-9eff-243991e5ec7d</Key>
      <Name>Default Currency</Name>
      <Alias>defaultCurrency</Alias>
      <Definition>28a6aeda-b3fc-4c4d-926e-607854a07891</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[This is just used to prefix pricing]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f1f39526-7f6d-4d91-9cc8-9d76aaf79fef</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>d0382188-119b-49b7-86d3-84119a02645f</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Shop</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Shop</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>